@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.9') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.9') format('woff');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

i.mdi {
  color: #333;
}

.figma-dark i.mdi {
  color: #f0f0f0;
}

.search-icon {
  fill: #333;
}

.figma-dark .search-input {
  background: transparent;
  color: #fff;
}

.search-input-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.figma-dark .search-input-container {
  border-bottom: 1px solid rgb(68, 68, 68);
}

.search-input {
  background: transparent;
}

.figma-dark .search-icon {
  fill: #bfbfbf;
}
